<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= post.title %> | The Backseat</title>

    <link rel='stylesheet' href='/stylesheets/base.css' />
  </head>
  <body>
    <h1><%= post.title %></h1>
    <p><%= post.date %></p>
    <p><%= post.author.name %></p>
    <p><%- post.content %></p>
  </body>
</html>