<!DOCTYPE html>
<html>
  <head>
    <title>Shatter Magazine</title>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header class="header">
      <div class="container-fluid">
        <h1>shatter magazine</h1>
      </div>
    </header>

    <nav class="navigation">
      <div class="container-fluid">
        <ul class="categories">
          <li><a href="#">Hype</a></li>
          <li><a href="#">Think</a></li>
          <li><a href="#">Expose</a></li>
          <li><a href="#">Real Talk</a></li>
        </ul>
      </div>
    </nav>

    <h2>Main Featured Post</h2> 
    <img src="<%= mainFeaturedPost.thumbnailUrl %>">
    <a href="<%= mainFeaturedPost.url %>"><h4><%= mainFeaturedPost.title %></h4></a>
    <p>by <%= mainFeaturedPost.author.name %></p>

    <h2>Featured Posts</h2> 
    <% for (i = 0; i < featuredPosts.length; i++) { %>
      <img src="<%= featuredPosts[i].thumbnailUrl %>">
      <a href="<%= featuredPosts[i].url %>"><h4><%= featuredPosts[i].title %></h4></a>
      <p>by <%= featuredPosts[i].author.name %></p>
    <% } %>

    <h2>Recent Posts</h2> 
    <% for (i = 0; i < recentPosts.length; i++) { %>
      <% if (recentPosts[i].thumbnailUrl) { %>
        <img src="<%= recentPosts[i].thumbnailUrl %>">
      <% } %>
      <a href="<%= recentPosts[i].url %>"><h4><%= recentPosts[i].title %></h4></a>
      <p>by <%= recentPosts[i].author.name %></p>
    <% } %>
  </body>
</html>
