<!DOCTYPE html>
<html>
  <head>
    <title>Shatter Magazine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Featured Posts</h2> 
    <% for (i = 0; i < featuredPosts.length; i++) { %>
      <img src="<%= featuredPosts[i].thumbnailUrl %>">
      <a href="<%= featuredPosts[i].url %>"><h4><%= featuredPosts[i].title %></h4></a>
      <p>by <%= featuredPosts[i].author.name %></p>
    <% } %>

    <h2>Recent Posts</h2> 
    <% for (i = 0; i < recentPosts.length; i++) { %>
      <% if (recentPosts[i].thumbnailUrl) { %>
        <img src="<%= recentPosts[i].thumbnailUrl %>">
      <% } %>
      <a href="<%= recentPosts[i].url %>"><h4><%= recentPosts[i].title %></h4></a>
      <p>by <%= recentPosts[i].author.name %></p>
    <% } %>
  </body>
</html>
