<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The Backseat</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <% include partials/header %>

    <div class="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <% if (mainFeaturedPost) { %>
              <div class="main-feature">
                <a href="<%= mainFeaturedPost.url %>"><img src="<%= mainFeaturedPost.thumbnailUrl %>" class="img-responsive"></a>
                <a href="<%= mainFeaturedPost.url %>"><h2><%= mainFeaturedPost.title %></h2></a>
                <p>by <a href="<%= '/authors/' + mainFeaturedPost.author.slug %>" class="author-link"><%= mainFeaturedPost.author.name %></a></p>
              </div>
            <% } %>
            <% if (featuredPosts) { %>
              <div class="features">  
                <div class="row feature">
                  <div class="col-sm-5 col-xs-4">
                    <a href="<%= featuredPosts[0].url %>"><img src="<%= featuredPosts[0].thumbnailUrl %>" class="img-responsive"></a>
                  </div>
                  <div class="col-sm-7 col-xs-8">
                    <a href="<%= featuredPosts[0].url %>"><h2><%= featuredPosts[0].title %></h2></a>
                    <p>by <a href="<%= '/authors/' + featuredPosts[0].author.slug %>" class="author-link"><%= featuredPosts[0].author.name %></a></p>
                  </div>
                </div>
                <% if (featuredPosts.length > 1) { %>
                  <div class="row feature">
                    <div class="col-sm-7 col-xs-8">
                      <a href="<%= featuredPosts[1].url %>"><h2><%= featuredPosts[1].title %></h2></a>
                      <p>by <a href="<%= '/authors/' + featuredPosts[1].author.slug %>" class="author-link"><%= featuredPosts[1].author.name %></a></p>
                    </div>
                    <div class="col-sm-5 col-xs-4">
                      <a href="<%= featuredPosts[1].url %>"><img src="<%= featuredPosts[1].thumbnailUrl %>" class="img-responsive"></a>
                    </div>
                  </div>
                <% } %>
              </div>
            <% } %>
          </div>
          <div class="col-sm-4">
            <% if (recommendedPosts) { %>
              <div class="recommended">
                <% for (i = 0; i < recommendedPosts.length; i++) { %>
                  <div class="recommended-story">
                    <a href="<%= recommendedPosts[i].url %>"><img src="<%= recommendedPosts[i].thumbnailUrl %>" class="img-responsive center-block"></a>
                    <a href="<%= recommendedPosts[i].url %>"><h3><%= recommendedPosts[i].title %></h3></a>
                    <p>by <a href="<%= '/authors/' + recommendedPosts[i].author.slug %>" class="author-link"><%= recommendedPosts[i].author.name %></a></p>
                  </div>
                <% } %>
              </div>
            <% } %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="recent">
              <h2 class="page-header">Latest Posts</h2>
              <% for (i = 0; i < recentPosts.length; i++) { %>
                <div class="recent-post <%= recentPosts[i].thumbnailUrl ? 'featured-image' : '' %>">
                  <% if (recentPosts[i].thumbnailUrl) { %>
                    <a href="<%= recentPosts[i].url %>"><img src="<%= recentPosts[i].thumbnailUrl %>" class="img-responsive"></a>
                  <% } %>
                  <a href="<%= recentPosts[i].url %>"><h4><%= recentPosts[i].title %></h4></a>
                  <p>by <a href="<%= '/authors/' + recentPosts[i].author.slug %>" class="author-link"><%= recentPosts[i].author.name %></a></p>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include partials/footer %>
  </body>
</html>
