<!DOCTYPE html>
<html>
  <head>
    <title>Shatter Magazine</title>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="container-fluid">
        <h1>shatter magazine</h1>
      </div>
    </header>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Hype</a></li>
            <li><a href="#">Think</a></li>
            <li><a href="#">Expose</a></li>
            <li><a href="#">Real Talk</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <div class="main-feature">
              <img src="<%= mainFeaturedPost.thumbnailUrl %>" class="img-responsive">
              <a href="<%= mainFeaturedPost.url %>"><h2><%= mainFeaturedPost.title %></h2></a>
              <p>by <%= mainFeaturedPost.author.name %></p>
            </div>
            <div class="feature-1">
              <img src="<%= featuredPosts[0].thumbnailUrl %>" class="img-responsive">
              <a href="<%= featuredPosts[0].url %>"><h2><%= featuredPosts[0].title %></h2></a>
              <p>by <%= featuredPosts[0].author.name %></p>
            </div>
            <div class="feature-2">
              <img src="<%= featuredPosts[1].thumbnailUrl %>" class="img-responsive">
              <a href="<%= featuredPosts[1].url %>"><h2><%= featuredPosts[1].title %></h2></a>
              <p>by <%= featuredPosts[1].author.name %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2>Recent Posts</h2> 
    <% for (i = 0; i < recentPosts.length; i++) { %>
      <% if (recentPosts[i].thumbnailUrl) { %>
        <img src="<%= recentPosts[i].thumbnailUrl %>">
      <% } %>
      <a href="<%= recentPosts[i].url %>"><h4><%= recentPosts[i].title %></h4></a>
      <p>by <%= recentPosts[i].author.name %></p>
    <% } %>
  </body>
</html>
